@inject HttpClient http
@inject IConfiguration config
@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="CallBackend">Call backend</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private async void CallBackend()
    {
        try {
            var local_backend_url = config["local_backend_url"];
            
            var url = string.IsNullOrEmpty(local_backend_url)
                ? "/backend/todos"
                : $"{local_backend_url}/todos";

            var todos = await http.GetFromJsonAsync<TodoItem[]>(url);
            foreach(var todo in todos!) 
            {
                Console.WriteLine(todo.ToString());
            }
        } catch (Exception e) {
            Console.WriteLine(e);
        }
    }
}
