
@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="CallBackend">Call backend</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private void CallBackend()
    {
        var client = new HttpClient();
        var todos = client.GetFromJsonAsync<TodoItem[]>($"{AppState.Configuration.BackendUrl}/todos");
        Console.WriteLine(todos);
    }
}
