<div>
    <EditForm Model="vm" @ref="editForm">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <label for="txtTitle">Title:</label>
        <input id="txtTitle" type="text" @bind-value="vm.Title" @bind-value:event="oninput" />
        <label for="dateDue">Due By:</label>
        <input id="dateDue" type="date" @bind-value="vm.DueBy" />
        <button type="button" @onclick="ValidateAndAdd" class="btn btn-primary">Add</button>
    </EditForm>
</div>
<hr>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Due By</th>
                <th>Complete</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var todo in GetAllTodo())
        {
            var checkboxId = $"isCompleteItem{todo.Id}";

            <tr>
            <td>@todo.Id</td>
            <td>@todo.Title</td>
            <td>@if(todo.DueBy != null) {@todo.DueBy} else { <span>N/A</span> } </td>
            <td>
                <input id="@checkboxId" type="checkbox" @onchange="eventArgs => HandleUpdateIsComplete(todo.Id, eventArgs)" checked="@todo.IsComplete">
            </td>
            <td><button type="button" @onclick="() => HandleDelete(todo.Id)" class="btn btn-danger">Delete</button></td>
            </tr>
        }
        </tbody>    
    </table>
</div>
<style>
    .table-class {
        border-collapse: collapse;
        width: 100%;
    }
    .table-class td, .table-class th {
        border: 1px solid #ddd;
        padding: 8px;
    }
</style>

@using System.ComponentModel.DataAnnotations;
@implements IDisposable;
@implements IObserver<List<TodoItem>>;
@inject TodoItemStore store;
@page "/"
@code
{
    class ViewModel
    {
        [Required(ErrorMessage = "Title is required")]
        public string Title { get; set; } = string.Empty;
        public DateOnly? DueBy { get; set; }
    }
    ViewModel vm = new();
    EditForm? editForm;

    void ValidateAndAdd()
    {
        var isValid = editForm?.EditContext?.Validate();

        if ((isValid ?? false))
        {
            store.Create(vm.Title, vm.DueBy == default ? null : vm.DueBy);
            vm.Title = string.Empty;
        }
    }
    void HandleDelete(int id) => store.Delete(id);
    void HandleUpdateIsComplete(int id, ChangeEventArgs? eventArgs) 
    {
        bool isComplete = (bool) (eventArgs?.Value ?? false);
        store.UpdateIsComplete(id, isComplete);
    }
    List<TodoItem> GetAllTodo() => store.GetAll();
    protected override async Task OnInitializedAsync()
    {
        store.Subscribe(this);
        await store.ReloadAll();
    }
    public void Dispose()
    {
        store.Unsubscribe(this);
    }
    public void OnCompleted()
    {
        Console.WriteLine("Completed");
    }
    public void OnError(Exception error)
    {
        Console.WriteLine(error);
    }
    public void OnNext(List<TodoItem> value)
    {
        StateHasChanged();
    }
}